
#background {
	-fx-background-color: #ddd;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4a6863;
    -fx-opacity: 0.6;
    
    
}
#label_r {
    -fx-font-size: 10pt;
}
#head {
    -fx-font-size: 20pt;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #4a6863;
    -fx-opacity: 0.9;
}

.menu-item .label {
    -fx-text-fill: #4a6863;
    -fx-font-family: "Segoe UI Light";
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.radio-button {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4a6863;
    
}


.check-box {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4a6863;
    
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #256f6e;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.table-view {
    -fx-base: #d5e1df;
    -fx-control-inner-background: #f0f4f4;
    -fx-background-color: #ccc;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #4a6863;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.bar-chart .label {
    -fx-base: #ddd;
    -fx-control-inner-background: #ccc;
    -fx-background-color: #ddd;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

#tabs {
    -fx-background-color: #ddd;
}